.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 0.2fr 0px 1fr 0px 0.2fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas: "boxTop" "boxLogin" "boxLogo"; }

.boxTop {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: boxTop;
  background: red; }

.boxLogin {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: boxLogin;
  background: blue; }

.boxLogo {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: boxLogo;
  background: green; }
